asgiref==3.11.1
crispy-bootstrap5==2026.3
diff-match-patch==20241021
Django==6.0.6
django-crispy-forms==2.6
django-import-export==4.4.1
pillow==12.2.0
python-decouple==3.8
sqlparse==0.5.5
tablib==3.9.0
